<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>測試網頁</title>
<!-- 連結思源中文及css -->
<link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC" rel="stylesheet">
<link href="/css/menu.css" rel="stylesheet"/>  
<link href="/css/home.css" rel="stylesheet"/>      
<!------------------------->
</head>
   
<body>
    <!--**************************-->
    <div class="container">    
        <!--~~~~~~~~~~~~~~~~~-->
        <div class="header">           
        </div>
        
        <!--~~~~~~~~~~~~~~~~~--> 
        <div class="content">
            <h2>首頁</h2>

            <div class="th">
                <a href="login" style="text-decoration:none; color:#000;">
                    <img src="/imgs/user.png" onmouseover="this.src='/imgs/user2.png ';" onmouseout="this.src=' /imgs/user.png ';" width=110px height="110px">
                </a>
            </div>
            <div class="th">
                <a href="acct/add/form" style="text-decoration:none; color:#000;">
                    <img src="/imgs/register.png" onmouseover="this.src='/imgs/register2.png ';" onmouseout="this.src=' /imgs/register.png ';" width=110px height="110px">
                </a>
            </div>
            <div class="th">
                <a href="enter_v" style="text-decoration:none; color:#000;">
                    <img src="/imgs/look.png" onmouseover="this.src='/imgs/look2.png ';" onmouseout="this.src=' /imgs/look.png ';" width=110px height="110px">
                </a>
            </div>               
        </div>       
        
        <!--~~~~~~~~~~~~~~~~~--> 
        <div class="footer">
            NTUB imd, 2019.    
        </div>  
    </div>
    <!--**************************-->    
</body>
   
</html>
